.h1v{
    font-size: 100px;
    color:aliceblue;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 75%;
}
/* .heart {
    position: absolute;
    color: red;
    font-size: 100px;
    animation: float 10s linear infinite;
    opacity: 0;
}

@keyframes float {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh);
        opacity: 0;
    }
} */
.heart-container {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* So it doesn't interfere with clicks */
    z-index: -100; /* Keeps it behind other content */
}

.heart {
    margin: 0px;
    padding: 0px;
    position: absolute;
    color:aqua;
    font-size: 50px;
    animation: float 10s linear infinite;
    opacity: 0;
}
.imgt{
    display: flex;
    justify-content: end;
    align-items: center;
}
.heartbeat{
    animation: heartbeat 1.5s infinite;
    margin: 50px;
}
.poem{
    margin: 70px;
    font-size: 60px;
    color: black;
    font-family: cursive;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
}
.html{
    margin: 0px;
}

@keyframes float {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 1;
    }
}
@keyframes heartbeat{
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    55% {
        transform: scale(1);
    }
    65% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}